.App {
  text-align: center;
}
.Header {
  border: 1px solid deeppink;
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */


.main_CharacterList {

  border: 1px solid dodgerblue;
  width: 800px;
  height: 80%;
  margin: 0 auto;
  font-size: 62.5%;
  /*  font-family: Righteous;
    font-family: Karla;
    font-family: Kalam;
    font-family: Hind; */
  font-family: Comfortaa;
}