




.dogList-container{

  border: 8px solid red;
  width: 90%;
  margin: 0 auto;
}


.dogIMG-container{
  border: 1px solid firebrick;
  margin: 1rem auto;
  display: flex;
  justify-content: center;


}

.dogIMG {
  max-width: 400px;
  max-height: 400px;
}