* {
  box-sizing: border-box;

}

/*
Comfortaa|Hind|Kalam|Karla|Righteous
*/

.App{
  border: 7px solid dodgerblue;
  width: 800px;
  margin: 0 auto;
  font-size: 62.5%;
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /*  font-family: Righteous;
    font-family: Karla;
    font-family: Kalam;
    font-family: Hind; */
  font-family: Comfortaa;


}


.main_dogList {

}

.header_h1 {
  font-size: 5rem;
  color: black;
  text-align: center;
}
button {
  border: 1px solid black;
  font-size: 1.5rem;
  width: 40%;
  margin: 1rem auto;
  border-radius: 10px;
  background-color: darkgrey;
  color: white;
}