* {
  box-sizing: border-box;

}

/*
Comfortaa|Hind|Kalam|Karla|Righteous
*/


.main-container {
  border: 1px solid dodgerblue;
  width: 800px;
  height: 80%;
  margin: 0 auto;
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  /*  font-family: Righteous;
    font-family: Karla;
    font-family: Kalam;
    font-family: Hind; */
  font-family: Comfortaa;

}


.name {
  border: 1px solid seagreen;
  color: white;
  font-size: 2rem;

}