* {
  box-sizing: border-box;

}

/*
Comfortaa|Hind|Kalam|Karla|Righteous
*/


.main-container {
  border: 1px solid dodgerblue;
  width: 800px;
  height: 80%;
  margin: 1rem auto;
  font-size: 62.5%;
  color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  /*  font-family: Righteous;
    font-family: Karla;
    font-family: Kalam;
    font-family: Hind; */
  font-family: Comfortaa;
}

.character-container {
  border: 5px solid orange;
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: 0;
}




.name {
  border: 1px solid seagreen;
  color: white;
  font-size: 3rem;

}

.physical {
  border: 1px solid chartreuse;
  width: 45%;
  display: flex;
  flex-direction: column;
  margin: .5rem auto;

}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Kalam;
  margin: 0;
}

h3 {
  font-size: 1rem;
  font-family: Hind;
  line-height: 1.5rem;
  margin: 0;
}

.array_items {
  border: 3px solid red;
  width: 55%;

}

.films, .starships, .vehicles {
  border: 1px solid indigo;
  display: flex;
  flex-direction: column;
  margin: .5rem auto;

}

/*
.physical_attributes {
  color: grey;
  font-weight: bold;


}



.film_attr {
  color: darkred;
  font-weight: bold;

}


.starships {
  border: 1px solid cornflowerblue;
  display: flex;
  flex-direction: column;


}

.starship_attr {
  color: darkslategray;
  font-weight: bold;
}

.vehicles {
  border: 1px solid purple;
  display: flex;
  flex-direction: column;


}

.vehicle_attr {
  color: black;
  font-weight: bold;
}
*/